<template>
    <div>
        <inertia-link class="text-2xl text-blue-600 hover:text-blue-700" href="/Home/Other">Index</inertia-link>
    </div>
</template>

<script>
import Layout from '@/Shared/Layout'

export default {
    layout: Layout
}
</script>